// generals_colors
$turquoise: #95e1d3;
$yellow: #fce38a;
$red: #f38181;

// fonts_colors
$h_c: #333333;
$p_c: #999999;


// fonts
$h_f: 'Montserrat', sans-serif;
$h_f_curs: 'Kaushan Script', cursive;
$p_f: 'Roboto', sans-serif;